<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OB.OB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OB.OB>
            <setting name="mDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="mServer" serializeAs="String">
                <value />
            </setting>
            <setting name="mDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="mUsername" serializeAs="String">
                <value />
            </setting>
        </OB.OB>
    </userSettings>
</configuration>